body {
    background-color: #87ceeb;
    font-family: 'Mountains of Christmas', cursive;
}
.gridContainer{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto ;
    background-color: #87ceeb;
    padding: 50px;
    justify-content: center;

  }
  .grid{
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-color: white;
    font-weight: bold;
    padding: 10px;
    font-size: 32px;
    text-align: center;
  }

  .gridBlk{
    background-color: black;
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-color: white;
    padding: 6px;
    text-align: center;
  }
  .gridRed{
    background-color: red;
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-color: white;
    padding: 6px;

    text-align: center;
  }

  .gridPurple{
    background-color: purple;
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-color: white;
    padding: 6px;

    text-align: center;
  }
  .gridYell{
    background-color: yellow;
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-color: white;
    padding: 6px;
    text-align: center;
  }
  .gridBlu{
    background-color: blue;
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-color: white;
    padding: 6px;
    text-align: center;
  }
  .gridGreen{
    background-color: lightgreen;
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-color: white;
    padding: 6px;
    text-align: center;
  }
  .white {
      color: white;
      font-size: 6px;
      font-weight: bold;
  }
  .black {
    color: black;
    font-size: 6px;
    font-weight: bold;
}
.list {
    font-size: 22 px;
    margin: 55px;
    line-height: 25px;
    list-style-type: none;
    
}
h1 {
    color: #C30F16;
    text-align: center;
}
h3 {
    text-align: center;
    color: #C30F16;
    font-size: 36px;
}

.active, .button:hover {
    background-color: #666;
    color: white;
}
button {
    background-color: #C30F16;  
    border: none;
    color: white;
    padding: 15px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }
  .buttons {
    text-align: center  ;
  }
#counter {
  font-size: 84px;
}
#baudos {
  font-size: 60px;
}
#baudos {
  visibility: hidden;
}
 

  @media (min-width: 484px)  {
    .white {
    
      font-size: 11px;
  }
  .black {

    font-size: 11px;
}
  }


