#count {
    font-size: 125px;
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Otomanopee One';
}

p {
    font-size: 95px;
}

#dark {
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Otomanopee One';
    background-color: black;
}
